---
layout: default
---

<header>
  <canvas id="canvas" class="" width="500" height="75"></canvas>
</header>
<section class="header">
  <h2>Hi! 👋</h2>
  <div class="content">
    <span class="name waid">I'm Javier Honduvilla Coto, a Computer Engineering graduate from <!-- ☀️ -ny -->Madrid living in London.
        <span id="interests">I 💞 computers, humans, emojis, travelling, and guacamole.</span>
    </span>
  </div>
</section>
<section class="contact">
  <h2>Follow me on</h2>
  <div class="content">
    <div class="links">
      <a href="https://twitter.com/javierhonduco">Twitter</a>
      <a href="https://github.com/javierhonduco">GitHub</a>
      <a href="https://instagram.com/javierhonduco">Instagram</a>
      <a href="https://speakerdeck.com/javierhonduco">Speakerdeck</a>
      <a href="https://linkedin.com/in/javierhonduco">LinkedIn</a>
    </div>
    <span>(My handle is <i>javierhonduco</i> in most places)</span>
  </div>
</section>
{% if site.posts.size > 0 %}
  <section class="writings">
    <h2>Writings</h2>

    <ul>
      {% for post in site.posts %}
        <li>
          <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}

{% include knn.html %}
