---
layout: default
---

<link rel="stylesheet" href="{{ "/assets/syntax.css" | relative_url }}">

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="blog-header">
    <a href="/">home</a>
    <h2 "post-title" itemprop="name headline">{{ page.title | escape }}</h2>
    <p class="post-meta">
    <span class="blog-meta">
      <author>{{ page.author }}</author><time>{{ page.date | date: "%B %-d, %Y" }}</time>
    </span>

  </header>

  <div class="blogpost" itemprop="articleBody">
    {{ content }}
  </div>
</article>
